// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby)
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

// Open-Sans
+font(opensans-bold, opensans-bold)
+font(opensans-light, opensans-light)
+font(opensans-regular, opensans-regular)
+font(opensans-semibold, opensans-semibold)

=os
	font-family: 'opensans-regular', Arial, sans-serif
=light
	font-family: 'opensans-light', Arial, sans-serif
=reg
	font-family: 'opensans-regular', Arial, sans-serif
=sbold
	font-family: 'opensans-semibold', Arial, sans-serif
=bold
	font-family: 'opensans-bold', Arial, sans-serif
	
=fa
	display: inline-block
	font: normal normal normal 14px/1 FontAwesome
	font-size: inherit
	text-rendering: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
html
	font-size: 62.5%
body
	+light
	font-size: 13px
	line-height: 1.4
	background: #fff
	min-width: 320px
	padding-top: 45px

// common blocks
.icon-logo
	+sr(logo_x2)
.icon-logo-text
	+sr(logo-text)
.out
	height: 100%
	+r(1023)
		overflow-x: hidden

a
	color: $links
	cursor: pointer
	+tr(color .3s)
	&:hover, &:focus, &:visited
		text-decoration: none
	&:hover
		color: #00536F

input, button
	border-radius: 2px

.close
	color: #333
	opacity: .15

.logo
	font-size: 0
	display: inline-block
	&__text
		color: #fff
		font-size: 21px
		+hide-text
		padding-top: 3px
		+r(767)
			display: none
	&__img
		margin-right: 15px
	&__text, &__img
		display: inline-block
		vertical-align: middle

.dropdown-menu
	border-radius: 0
	border-color: #d4d4d4
	border-top: 0
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	&.no-pad
		padding: 0
	&.is-open
		display: block
	>li>a
		padding: 4px 12px
		+reg
.form-group
	margin-bottom: 10px
.form-control
	&.is-sm
		max-width: 77px 
	&.is-md
		max-width: 250px 

.form-range
	> div
		&:first-child
			position: relative
			&:after
				content: ''
				position: absolute
				top: 50%
				right: -5px
				width: 10px
				height: 1px
				background: #000

.form-inline
	.checkbox, .radio
		margin-right: 10px
		display: inline-block
		&:first-child
			margin-left: 0
	.field
		&_mb
			margin-bottom: -10px

.checkbox
	position: relative
	padding-left: 25px 
	margin-top: 0
	label
		padding-left: 0 !important
		font-size: 13px
	input
		display: none
		&:checked
			+ span
				&:after
					display: block
	span
		&:before
			content: ''
			position: absolute
			top: 2px
			left: 0
			width: 15px
			height: 15px
			border: 1px solid #d0d0d0
		&:after
			content: '\f00c'
			+fa
			display: none
			position: absolute
			top: 4px
			left: 1px
			color: #000
			font-size: 12px
.radio
	position: relative
	padding-left: 25px 
	margin-top: 0
	label
		padding-left: 0 !important
		font-size: 13px
	input
		display: none
		&:checked
			+ span
				&:after
					display: block
	span
		&:before
			content: ''
			position: absolute
			top: 50%
			margin-top: -8px
			left: 0
			color:  #d0d0d0
			width: 16px
			height: 16px
			border: 1px solid #d0d0d0
			border-radius: 50%
		&:after
			content: ''
			display: none
			position: absolute
			top: 50%
			margin-top: -3px
			left: 5px
			font-size: 8px
			width: 6px
			height: 6px
			background: #000
			border-radius: 50%

.btn-primary
	background: $btn-primary
	border-color: #087ea6
	&:hover
		background: darken($btn-primary, 4)

.btn-default
	background: $btn-default
.btn
	outline: 0
	+tr(background .3s)
.meta
	color: #999

.progress-wrap
	position: relative
	padding-right: 35px

.progress
	height: 10px
	line-height: 10
	border-radius: 0
	background: #F0F0F0
	margin-top: 10px
	margin-bottom: 7px
	box-shadow: inset 0 0 0 1px #e0e0e0
	&-bar
		background: #0bcbfa
		box-shadow: none
	&-text
		width: 35px
		text-align: right
		position: absolute
		right: 0
		top: -2px
		line-height: 1

.title-h2
	font-size: 16px
	color: #777
	margin: 4px 0 4px
	+reg
label
	font-size: 13px
	margin-bottom: 13px
	+light 
.label
	font-size: 9px
	background: #f9f9f9
	color: #000
	border: 1px solid #efefef
	+reg
	border-radius: .5em

.right-aligned-list
	font-size: 15px
	li
		padding: 3px 0
		clear: both
		> span
			width: 130px
			text-align: right
			+reg
			display: inline-block
			float: left
			margin-right: 7px 
			font-size: 15px
			&.pad-t
				padding-top: 4px
			+r(1165)
				width: 92px 
			+r(767)
				// float: none
				width: auto
	&_pad-t
		li
			padding: 7px 0 
	&__box
		overflow: hidden
		> a
			display: block
		.radio, .checkbox
			margin-bottom: 0

.row_sm
	margin: 0 -10px
	& > div
		padding: 0 10px

.row
	&.no-pad
		margin: 0
		> div
			padding: 0

.content-body
	overflow: hidden

.content-sidebar
	&.is-left
		float: left
		+r(767)
			float: none
.content-body
	overflow: hidden
	display: block
.tel-link
	color: #333

dl
	margin-bottom: 20px
	dd
		margin-left: 15px
		+r(767)
			margin-left: 10px
.title-h2
	+ .right-aligned-list,
	+ .tag-box,
		margin-left: 15px 
		+r(767)
			margin-left: 10px
	+ .tag-box
		.tag-box__list a
			padding-left: 0
			padding-right: 0
		
