// header
.header
	background: $deep-blue
	font-size: 0
	height: 45px 
	+clr
	&__item
		display: inline-block
		vertical-align: middle
		font-size: 15px 
		&:first-child
			width: 210px 
		&.is-right
			float: right
			height: 100%
	.search-form
		padding-top: 5px 
	.logo
		padding-top: 7px 
.search-form
	position: relative
	&__input
		background: $dark
		border: 1px solid #1e2225
		color: #fff
		padding-left: 33px
		line-height: 30px
		height: 30px
		width: 300px 
		font-size: 14px
		+tr(border-color .3s)
		display: inline-block
		vertical-align: middle
		+placeholder
			color: #414950
		&:focus
			border-color: #0f1112
	&__btn
		position: absolute
		left: 0
		background: transparent
		color: #414950
		width: 33px
		text-align: center
		font-size: 15px 
		line-height: 30px
	.more-search
		display: inline-block
		vertical-align: middle
		margin-left: 4px 
	.dropdown-menu
		width: 400px  
.more-search
	color: #6c9444 
	font-size: 22px
	&:hover
		color: darken(#6c9444, 7) 
		
.menu
	+clr
	height: 100%
	+vertical
	li
		display: inline-block
		vertical-align: middle
		position: relative
		a
			color: #d1d2d3
			opacity: .3
			transition: opacity .3s, background .3s
			font-size: 22px
			padding: 13px 15px 10px
			position: relative
			&:hover, &.is-active
				opacity: 1
			&:hover
				background: lighten($deep-blue, 4) 
		.badge
			position: absolute
			top: 8px
			left: 9px	
		&.is-user
			a
				position: relative
				z-index: 3 
			&:before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				margin-top: -17px   
				margin-left: -17px   
				width: 34px 
				height: 34px 
				background: $dark
				border-radius: 50%	
.badge
	font-size: 12px
	border-radius: 50%
	background: #ff340c
	text-align: center
	width: 16px 
	height: 16px
	padding-top: 3px 
	z-index: 5
	padding: 3px 0 0