// common-pages
.data-block
	padding: 8px 10px 0
	+clr
	&__col
		float: left
		width: 50%
		padding-right: 15px
		+r(1165)
			width: 100%
	.form
		label
			+light


.sidebar-list
	border-right: 1px solid $border
	width: 250px
	&_md
		width: 290px
	+r(767)
		width: 100%
		border: 0
	.action
		margin: 0
		border-bottom: 1px solid $border
		&_no-bd
			border-bottom: 0
		&__bl
			float: none
			padding: 9px 5px
			+clr
		&_btn
			.action__bl
				+clr
			.button
				float: left
			.pagination
				float: right
			+r(350)
				.button,
				.pagination
					float: none
					margin-bottom: 7px
.sidebar-table
	font-size: 14px
	tr
		height: 47px
		cursor: pointer
		&.is-chosen
			background: #e3ffc8
	td
		vertical-align: top
		padding: 5px 5px
		&:first-child
			padding-left: 10px
		a
			display: block
			font-size: 13px
			.fa
				color: inherit
				display: inline-block
				margin-right: 6px
				font-size: 12px
		.meta
			font-size: 13px

.content-body
	.right-aligned-list
		margin-bottom: 20px

.import-title
	min-height: 53px
.import-header
	position: relative
	padding-right: 125px
	.title
		font-size: 15px
		padding-bottom: 0
		line-height: 1
	.meta
		padding-left: 10px
		font-size: 11px
		margin-top: 3px
		+light
		span
			+reg

.info
	background: #fbfbfb
	border: 1px solid #ccc
	margin-bottom: 20px
	font-size: 0
	display: flex
	justify-content: space-between
	+r(1250)
		display: block

	&__block
		display: inline-block
		vertical-align: top
		//width: 25%
		padding: 8px 50px 8px 0
		font-size: 13px
		+r(1170)
			//width: 50%
			padding: 8px
		+r(550)
			// display: block
			//width: 100%
		> li
			padding: 1px 0
			+reg
			&.is-red
				color: #c90000
			span
				display: inline-block
				text-align: right
				width: 106px
				+light
				color: #333

.content-action
	+r(1165)
		.content-body
			.data-block
				&__col
					width: 50%
		&.is-open-sbar
			.content-body
				.data-block
					&__col
						width: 100%

	.content-sidebar
		+r(1199)
			display: none
			&.is-active
				display: block
		+r(767)
			display: block
	.top-title
		.btn-show-sidebar
			display: none
			+r(1199)
				display: block
				&.is-active
					.fa
						transform: rotateY(-180deg)
						margin-right: -2px
			+r(767)
				display: none
