// common-pages
.data-block
	padding: 8px 10px 0
	
.sidebar-list
	border-right: 1px solid $border
	width: 320px 
	.action
		margin: 0
		border-bottom: 1px solid $border
		&_no-bd
			border-bottom: 0
		&__bl
			float: none
			padding: 9px 5px
			+clr

