// styles for scroll
.scroll
	position: relative
	overflow: hidden
	&.is-horz
		> .scroll
			padding-bottom: 10px
	&:hover > .ps-scrollbar-y-rail:hover
		background-color: #afb3b7
		> .ps-scrollbar-y
			background-color: #282D31
	&:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
		background-color: #282D31
	&.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y
		background-color: #282D31
	> .ps-scrollbar-y-rail
		right: 0
		width: 10px
		background: none
		border-radius: 0
		> .ps-scrollbar-y
			width: 10px
			border-radius: 0
			background-color: #282D31
			opacity: 0.5
	> .ps-scrollbar-x-rail
		height: 10px
		border-radius: 0
		bottom: 0 !important
		> .ps-scrollbar-x
			height: 10px
			border-radius: 0

// content
.content
	position: relative
	margin-left: 205px
	+clr
	+r(1023)
		margin-left: 0
		transform: translateX(205px)
	&.is-expanded
		margin-left: 55px
		+r(1023)
			transform: translateX(0)
			// margin-left: 0
.content-body
	&.is-sideinfo
		padding-right: 290px
		width: 100% 
		float: left
		+r(767)
			margin-right: 0
			padding-right: 0
			float: none

.title
	padding: 13px 0 5px 10px
	font-size: 22px
	+light
	&_reg
		+reg

	
// table
.scroll.is-horz > .tabl
	padding-bottom: 20px 
.tabl
	table-layout: fixed
	font-size: 14px
	.cell-sort
		position: relative
	.table-sort
		position: absolute
		left: 3px
		top: 2px
		button
			background: transparent
			opacity: .6
			+tr(opacity .3s)
			.fa
				color: #1e1e1e
				font-size: 12px  
			&:hover
				opacity: .8
			&.is-active
				opacity: 1 
	&__bl
		display: inline-block
		vertical-align: top
		&:first-child
			margin-right: 15px
	&__action
		display: inline-block
		padding: 0 5px
		color: #666
		font-size: 16px
		&.is-edit
			vertical-align: -1px
	&__note,
	small
		font-size: 12px
		color: #666
	th
		padding: 3px 10px
		+sbold
		color: #666
	tr
		border-bottom: 1px solid #F0F0F0
		&:hover
			background: #fafafa
		&.is-active
			background: #FFFDCD
		&.is-detail
			background: #E3FFC8
		&.tabl__head
			border-width: 2px
			background: #fff
		&.is-hidden
			font-size: 0
			border: 0
			th
				padding: 0
		&.js-tabl-detail
			cursor: pointer
	td
		padding: 3px 10px
		vertical-align: top
	.checkbox
		display: inline-block
		margin: 0
		padding: 0
		font-size: 0
		background: #FFF
		vertical-align: top
		label
			min-height: auto
			padding-left: 0
			width: 15px
			height: 15px
		span
			&:before
				left: 0px
				top: 0
			&:after
				left: 1px
				top: 2px
	.fa-check
		color: #68bf1b
	.fa-arrow-down
		color: #9DDA19
	.fa-arrow-up
		color: #CE2323
	.fa-table,
	.fa-sign-in
		margin-right: 2px
		color: #666
	.fa
		&.is-red
			color: #8b0000
.cell-center
	text-align: center

.txt-bold
	+sbold

.txt-light
	+light

// action row
.action
	margin: 5px 14px 14px 6px
	+clr
	&__bl
		float: right
		font-size: 0
		&:first-child
			float: left
		+r(767)
			// & + .action__bl
			// 	margin-top: 10px 
	&__description
		display: inline-block
		margin-right: 10px
		font-size: 13px
		vertical-align: middle
		span
			+light
	.pagination,
	.button
		margin: 0 3px
		vertical-align: middle
	.pagination
		+r(550)
			display: block
			margin-top: 10px
	&_full
		+r(800)
			.action__bl
				float: none
				margin-bottom: 10px
		+r(484)
			.pagination
				margin-top: 10px
	&_btns
		+r(415)
			.action__bl
				float: none
			.button,
			.pagination
				margin-bottom: 10px 
			.pagination
				margin-top: 0 
// sideinfo
.sideinfo
	// display: none
	opacity: 0
	visibility: hidden
	position: absolute
	top: 0
	right: 0
	width: 290px
	padding-top: 10px
	background: #fff
	border-left: 1px solid #d8d8d8
	z-index: 4 
	margin-left: -290px 
	float: right
	+r(767)
		width: 100%
		position: relative
		margin-left: 0
		float: none
	&.is-active
		// display: block
		opacity: 1
		visibility: visible
	&__list
		margin-bottom: 10px
		li
			+clr
			margin-bottom: 5px 
	&__label
		float: left
		width: 88px
		margin-right: 5px
		text-align: right
	&__txt
		display: block
		overflow: hidden
	h2
		padding-left: 10px
	.close
		position: absolute
		top: 8px
		right: 10px
		+r(767)
			top: 0
	.fa-table
		margin-right: 4px
		color: #666