// sidebar
.sidebar
	position: fixed
	top: 45px
	left: 0
	bottom: 0
	width: 205px
	background: #37424A
	&.is-collapsed
		width: 55px
		.sidebar__in
			overflow: inherit
		.sidebar__link
			&.is-mobile
				display: block
			span
				display: none
		.sidebar__collapse span
			display: none
		.sidebar__sublist
			position: absolute
			top: 0
			left: 100%
			min-width: 120px
			margin-left: -5px
			box-shadow: 2.1px 2.1px 3px rgba(0, 0, 0, 0.2)
			.sidebar__link
				padding-left: 18px
		.fa-chevron-down
			display: none
	&__list li
		position: relative
	&__in
		position: relative
		height: 100%
		padding-top: 14px
		overflow: hidden
	&__link
		position: relative
		display: block
		padding: 6px 18px
		font-size: 15px
		color: #afb3b7
		&:before
			display: none
			content: ""
			position: absolute
			top: 50%
			right: 0
			margin-top: -10px
			+arr(10, 20, #fff, l)
		&:hover,
		&:focus
			color: #FFF
			background: #2f383f
		&.is-active
			background: #78b641
			color: #fff
			&:before
				display: block
		&.is-expanded
			background: #293137
			.fa-chevron-down
				transform: rotateZ(-180deg)
		&.is-mobile
			display: none
			background: #293137
			cursor: pointer
		span
			padding-left: 14px
	&__sublist
		display: none
		background: #2f383f
		+tr(0.3s ease)
		&.is-active
			display: block
		.sidebar__link
			padding-left: 50px
	&__collapse
		position: absolute
		display: block
		left: 0
		bottom: 10px
		padding-left: 18px
		color: #afb3b7
		&:hover
			color: #FFF
			span
				opacity: 1
				visibility: visible
		&:focus
			color: #FFF
		span
			padding-left: 14px
			font-size: 15px
			opacity: 0
			visibility: hidden
			+tr(0.3s)
		.fa-arrow-circle-left
			font-size: 20px
	.fa
		font-size: 17px
	.fa-chevron-down
		position: absolute
		top: 50%
		right: 15px
		margin-top: -3.5px
		font-size: 7px
		+tr(transform 0.3s)
	+rh(500)
		&__collapse
			position: static
			margin: 40px 0 15px
