<header class="header">
	<div class="container-fluid">
		<div class="header__item">
			<a href="#" class="logo">
				<div class="logo__img"><i class="icon-logo"></i></div>
				<div class="logo__text">Rates<span>Analitics</span></div>
			</a>
		</div>
		<div class="header__item">
			<div class="search-form">
				<form action="#">
					<div class="field">
						<input class="search-form__input" type="text" placeholder="Search...">
						<button type="submit" class="search-form__btn"><i class="fa fa-search"></i></button>
						<a class="more-search"><i class="fa fa-plus-circle"></i></a>
					</div>
				</form>
			</div>
		</div>
		<div class="header__item is-right">
			<ul class="menu">
				<li>
					<a href="#" class="fa fa-tasks is-active"></a>
					<div class="badge">2</div>
				</li>
				<li><a href="#" class="fa fa-bell-o"></a></li>
				<li><a href="#" class="fa fa-question-circle"></a></li>
				<li class="is-user"><a href="#" class="fa fa-user"></a></li>
			</ul>
		</div>
	</div>
</header>