<header class="header">
	<div class="container-fluid">
		<div class="header__item">
			<a href="#" class="logo">
				<div class="logo__img"><i class="icon-logo"></i></div>
				<div class="logo__text">Rates<span>Analitics</span></div>
			</a>
		</div>
		<div class="header__item">
			<div class="search-form">
				<form action="#">
					<div class="field">
						<input class="search-form__input" type="text" placeholder="Search...">
						<button type="submit" class="search-form__btn"><i class="fa fa-search"></i></button>
						<a class="more-search fa fa-plus-circle"></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>