<div class="popup-wrapper js-popup">
	<div class="popup">
		<button class="popup__close js-popup-close"><i class="fa fa-close"></i></button>
		<div class="popup__title">Create Customer</div>
		<form action="" class="popup__form">
			<div class="popup__row">
				<div class="popup__col">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Country</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Currency</label>
						<select class="form-control">
							<option value=""></option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
						</select>
					</div>
				</div>
				<div class="popup__col">
					<div class="form-group">
						<label>Country</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Currency</label>
						<select class="form-control">
							<option value=""></option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
							<option value="Lorem ipsum.">Lorem ipsum.</option>
						</select>
					</div>
				</div>
			</div>
			<div class="popup__bottom">
				<button class="btn btn-success pull-right">Create</button>
			</div>
		</form>
	</div>
</div>