<!-- begin sidebar  -->
<div class="sidebar js-sidebar">
	<div class="sidebar__in scroll js-scroll">
		<ul class="sidebar__list">
		 	<li><a href="#" class="sidebar__link is-active"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
		 	<li><a href="#" class="sidebar__link"><i class="fa fa-flask"></i><span>Rates Analysis</span></a></li>
		 	<li><a href="#" class="sidebar__link"><i class="fa fa-history"></i><span>Activity Log</span></a></li>
		 	<li>
		 		<a href="#" class="sidebar__link js-sublink"><i class="fa fa-sign-in"></i><span>Customers</span><i class="fa fa-chevron-down"></i></a>
		 		<ul class="sidebar__sublist js-submenu">
		 			<li><p class="sidebar__link is-mobile">Customers</p></li>
		 			<li><a href="#" class="sidebar__link">List</a></li>
		 			<li><a href="#" class="sidebar__link">Rate Tables</a></li>
		 			<li><a href="#" class="sidebar__link">Targets</a></li>
		 		</ul>
		 	</li>
		 	<li>
		 		<a href="#" class="sidebar__link js-sublink"><i class="fa fa-sign-out"></i><span>Vendors</span><i class="fa fa-chevron-down"></i></a>
		 		<ul class="sidebar__sublist js-submenu">
		 			<li><p class="sidebar__link is-mobile">Vendors</p></li>
		 			<li><a href="#" class="sidebar__link">Lorem</a></li>
		 			<li><a href="#" class="sidebar__link">Ipsum</a></li>
		 			<li><a href="#" class="sidebar__link">Dolor</a></li>
		 		</ul>
		 	</li>
		 	<li>
		 		<a href="#" class="sidebar__link js-sublink"><i class="fa fa-briefcase"></i><span>Ours</span><i class="fa fa-chevron-down"></i></a>
		 		<ul class="sidebar__sublist js-submenu">
		 			<li><p class="sidebar__link is-mobile">Ours</p></li>
		 			<li><a href="#" class="sidebar__link">Sit</a></li>
		 			<li><a href="#" class="sidebar__link">Amet</a></li>
		 			<li><a href="#" class="sidebar__link">Consectetur</a></li>
		 		</ul>
		 	</li>
		 	<li>
		 		<a href="#" class="sidebar__link js-sublink"><i class="fa fa-cogs"></i><span>Configuration</span><i class="fa fa-chevron-down"></i></a>
		 		<ul class="sidebar__sublist js-submenu">
		 			<li><p class="sidebar__link is-mobile">Configuration</p></li>
		 			<li><a href="#" class="sidebar__link">Adipisicing</a></li>
		 			<li><a href="#" class="sidebar__link">Elit</a></li>
		 			<li><a href="#" class="sidebar__link">Voluptatum</a></li>
		 		</ul>
		 	</li>
		</ul>
		<a href="#" class="sidebar__collapse js-collapse"><i class="fa fa-arrow-circle-left"></i><span>Collapse Menu</span></a>
	</div>
</div>
<!-- end sidebar -->